/* Nav related styles */

nav{

    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 120px;
}

.text-primary
{
    
color: #FD6E0A;
}

/* shared css */

body{
    font-family: 'Open Sans', sans-serif;
}

.nav-tittle
{
    color: #181818;

font-size: 45px;

font-weight: 800;

}

/* header related styles */
.header
{
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    
}

nav> ul
{
    display: flex;
  
    align-items: center;
}
nav li 
{
    list-style:none;
    margin-right: 51px;
}

nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
    
   
}

.button-primary
{
    border-radius: 5px;
background: #FD6E0A;
text-align: center;
border:0;
color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 700;
padding:15px 30px;
}

.banner
{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-greeting
{
   
font-size: 45px;
font-weight: 600;
line-height: normal;
color:#474747;
margin-bottom: 0;
}

.banner-tittle
{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-top:5px;
    margin-bottom: 20px;
    
}

.banner-content
{
    max-width:500px;
}

.banner-description
{
    margin-top: 0px;
    
    font-size: 18px;
    color:#757575;
    font-weight: 400;
    line-height: 30px;
}
banner .banner-image
{
    width: 500px;

}